@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

/*Primary*/

$dark: hsl(300, 43%, 22%);
$accent: hsl(333, 80%, 67%);

$paragraph: hsl(303, 10%, 53%);
$reviews: hsl(300, 24%, 96%);
$white: hsl(0, 0%, 100%);